<nav class="navbar bg-light navbar-expand-lg mb-5">

    <ul class="navbar-nav m-auto d-flex justify-content-center align-items-center">
        <li class="nav-item btn btn-sm  btn-outline-success">
            <a href="/add_new" class="nav-link text-capitalize">add new receipt</a>
        </li>

        <li class="nav-item">
            <a href="/staffs" class="nav-link">Staffs</a>
        </li>
        <li class="nav-item">
            <a href="/customers" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
            <a href="/salesdata" class="nav-link">Sales</a>
        </li>
        <li class="nav-item">
            <!-- with passport is gonna be logout by itself when we pressed -->
            <form action="">
                <button class="btn btn-danger rounded nav-link py-1 text-white">Log Out</button>
            </form>
        </li>
    </ul>

</nav>