<%- include('./components/Navbar') %>
<div
    style="width: 100vw;height:100vh;background-image: url('image/404page.jpg');background-size: contain;background-repeat: no-repeat;background-position: center;">

</div>