<%- include('./components/Navbar') %>
    <div>
        <div class="bg-white border m-auto col-12 col-sm-10 col-md-8 col-lg-6 p-2 rounded shadow-sm">
            <h3 class="text-center">Add New Employee</h3>

            <%- include('./partials/message') %>

                <form action="/staffs/staff/add_staff" method="post" class="w-100 m-auto p-2 mt-4">

                    <div class="row mb-3">
                        <div class="mb-3 col-md-6 col-sm-12 row">
                            <label for="staff_name" class="col-sm-2 col-md-3 col-form-label">Name</label>
                            <div class="col-sm-12 col-md-9">
                                <input type="text" class="form-control" id="staff_name" name="staff_name">
                            </div>
                        </div>


                        <div class="mb-3 col-md-6 col-sm-12 row">
                            <label for="h_date" class="col-sm-2 col-md-4 col-form-label ">Hire Date</label>
                            <div class="col-sm-12 col-md-8">
                                <input type="date" class="form-control" id="h_date" name="h_date">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="mb-3 col-md-6 col-sm-12 row">
                            <label for="nrc" class="col-sm-2 col-md-3 col-form-label">NRC</label>
                            <div class="col-sm-12 col-md-9">
                                <input type="text" class="form-control" id="nrc" name="nrc">
                            </div>
                        </div>

                        <div class="mb-3 col-md-6 col-sm-12 row">
                            <label for="salary" class="col-sm-2 col-md-4 col-form-label">
                                Salary
                                <span style="font-size:10px;">(MMK)</span>
                            </label>
                            <div class="col-sm-12 col-md-8">
                                <input type="number" class="form-control" id="salary" min="0" name="salary">
                            </div>
                        </div>
                    </div>

                    <button style="min-width: 100px;" class="p-1 m-auto d-block btn btn-primary">Add</button>
                </form>
        </div>
    </div>