<div class="container d-flex justify-content-center align-items-center p-2">
    <div class="mt-4">
        <form action="/customers" method="post" id=" cus_update_form">
        
            <input type="number" name="id" id="id" value=<%=result[0].id %> class='d-none' >
            <div class="mb-3">
                <label for="cus_licence">Customer Licence</label>
                <input type="text" name="cus_licence" id="cus_licence" class="form-control"
                    value="<%= result[0].licence  %>">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>